<% for aliaz in @aliases %>
  <% if aliaz != @author.alias_name %>
    <p>
      <%= link_to h(aliaz.name_reversed), edit_author_alias_path(aliaz) %>
      <%= link_to image_tag('misc/edit.png'), edit_author_alias_path(aliaz) %>
      <%= link_to image_tag('misc/delete.png'), aliaz, :confirm => 'Are you sure you want to delete this alias?', :method => :delete %>
    </p>
  <% end %>
<% end %>

<% if @aliases.size < 2 %>
  <p>
    <i>No aliases have been added so far.</i>
  </p>
<% end %>
