<% title 'The genres' %>

<h1>Genres</h1>

<% if @genres.empty? %>
  <p>
    <i>No genres have been added, so far.</i>
  </p>
<% else %>
  <ul>
    <% for genre in @genres %>
      <li>
        <%= link_to h(genre.name), genre_url(h(genre.name)), :class => 'item' %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @genres %>