<% genre_title = "Books in ‘#{h(@genre)}’" %>
<% title(genre_title) %>

<h1>
  <%= h(genre_title) %>
</h1>
<%= render :partial => 'books/index' %>
<%= will_paginate @books %>

<%= link_to 'Back to genres', genres_url %> 