<% if @translations and not @translations.empty? %>
<ul>
  <% for translation in @book.translations %>
    <%= translation_in_list(translation) %>
  <% end %>
</ul>
<% else %>
<p>
  <i>Nothing to download yet.</i>
</p>
<% end %>