html, body {
  /*width: 100%;*/
  width: 240px;
  height: 100%;

  margin: 0;
  padding: 0;

/*background-color: #f8f8f8;*/
  background: url('/images/mobile/bg.png') fixed;
  border-style: none;

  color: #000;
  
  text-align: center;
  font-family: sans-serif;
  font-size: medium;
}

img {
  border-style: none;
}

p {
  padding: 5%;
  margin: 0;
  line-height: 130%;
}

h1 {
  background: #d8d8d8 url("/images/mobile/header.png") repeat-x top;
  padding: 6%;
  margin: 0;
  color: #303030;
  font-weight: normal;
}

h2 {
  background: #7c7e7c url("/images/mobile/label.png") repeat-x top;
  padding: 3%;
  margin: 0;
  color: #f5f5f5;
}

h2 {
  font-weight: bold;
}

h1,  .large {
  font-size: large;
}

h2, .medium {
  font-size: medium;
}

.subtitle, .small {
  font-size: small;
}

a {
  display: block;
  margin: 0;
  /*color: #444;*/
  color: #000;
  padding: 10px;
  text-decoration: none;
}

a, p, h1, img {
  border-bottom: #adaaad solid 1px;
}

p, .text, img {
  background: #f5f3f3 url("/images/mobile/text.png") repeat-x top
}

.bold {
  font-weight: bold;
}

.arrow {
  background: url('/images/mobile/next.png') no-repeat right center;
  padding-right: 44px;
}

a, p, div.main, h1, h2, .left {
  text-align: left;
}

.hover:hover {
  background: #ff9200 url("/images/mobile/pressed.png") repeat-x top;
}

img.thumbnail {
  display: block;
  width: 50%;
  padding: 10% 25%;
}

/*
 * ICONS
 */
a.icon {
  padding-left: 44px;
}

div.icon_book,
div.icon_download,
div.icon_home,
div.icon_tag,
div.icon_user

{
  background: none no-repeat 10px center;
}

div.icon_book {
  background-image: url('/images/mobile/book.png');
}

div.icon_download {
  background-image: url('/images/mobile/download.png');
}

div.icon_home{
  background-image: url('/images/mobile/home.png');
}

div.icon_tag {
  background-image: url('/images/mobile/tag.png');
}

div.icon_user {
  background-image: url('/images/mobile/user.png');
}

