<% if @author_aliases and not @author_aliases.empty? %>
  <% for aliaz in @author_aliases %>
    <%= author_alias_in_list(aliaz, @author_alias_thumbnails) %>
  <% end %>
<% else %>
  <p>
    <i><%= @no_author_aliases_message %></i>
  </p>
<% end %>