<% unless @author_aliases.empty? %>
  <% for aliaz in @author_aliases %>
    <% if aliaz.author.ready %>
      <%= link_to (aliaz.name_abbreviated(:name_reversed), author_url(aliaz.author), :class => 'menu') %>
    <% end %>
  <% end %>
<% else %>
  <p>
    <i><%= @no_author_aliases_message %></i>
  </p>
<% end %>