<h1>Authors for ‘<%= h(@query) %>’</h1>
<%= render :partial => 'aliases_index' %>
<%= will_paginate(@author_aliases, :renderer => 'WillPaginate::MobileRenderer') if @author_aliases %>

<% content_for(:back) do %>
  <%= mobile_link_to(authors_url, 'Search', 'Search for another author', true, 'zoom') %>
<% end %>