<h1>Activate your account</h1>
<p>Enter your e-mail to receive instructions how to activate your account.</p>
<% @xurl = "activate" %>
<% @xmessage = "Cannot send activation instructions." %>
<%= render :partial => 'find_by_email' %>