<h1>Forgot your password?</h1>
<p>Forgot your password or username? Enter your e-mail to reset your password.</p>
<% @xurl = "forgot_password" %>
<% @xmessage = "Cannot reset your password." %>
<%= render :partial => 'find_by_email' %>