<% title 'User Registration' %>
<h1>Register to read at your own Reading Place</h1>
<p>
  To register make up a <i>username</i> and a <i>password</i>
</p>

<p>
  If you already have an account, you are ready to <%= link_to 'log in', login_url %>.
</p>

<%= render :partial => 'new' %>