<p>
  All books come from <a href="http://www.gutenberg.org/">Project Gutenberg</a>, so they are free for the same reason
  the books on PG are free:
</p>
<p class="quote">
  &ldquo;&nbsp;
  Our ebooks are free in the United States because their copyright has expired. They may not be free of copyright
  in other countries. Readers outside of the United States must check the copyright laws of their countries before
  downloading or redistributing our ebooks.
  &nbsp;&rdquo;
</p>