<h1>What's special about the <i>Albite</i> project?</h1>
<p>
  Well, <i>Android</i> users got <a href="http://www.fbreader.org/FBReaderJ/">FBReaderJ</a> and
  <a href="http://www.aldiko.com/">Aldiko</a>, and <i>iPhone</i> users got <a href="http://www.lexcycle.com/">Stanza</a>
  and many more. What if you wanted some similar experience on your <i>Java Mobile</i> phone, too?
</p>
<p>
  There you are: <i>Albite</i>. Open <i>Albite BOOKS</i> on your phone's web-browser
  (<a href="http://www.opera.com/mobile/">Opera Mini</a> is a good choice for that purpose), search for books &amp;
  authors, read the summaries about them, then pick a book, download it, and start reading on <i>Albite READER</i>!
</p>
<p>
  So, the idea is to make reading on <i>Java Mobile</i> devices a lot more comfortable.
</p>

<h1>How is <i>Albite Books</i> different from <i>PG</i> or <i>MB</i>?</h1>
<p>
  <i>Albite BOOKS</i> does not compete with <a href="http://www.gutenberg.org">Project Gutenberg</a> or
  <a href="http://manybooks.net">Manybooks</a> as it's different in a few ways:
</p>
<ul>
  <li>
    While PG and MB provide books in many different file formats and for many different devices,
    <i>Albite BOOKS</i> aims at delivering content optimized for mobile phones.
  </li>
  <li>
    Unlike PG, <i>Albite BOOKS</i> is supported by one person only.
  </li>
  <li>
    Special care has been given to the <a href="http://m.albite.vlexofree.com">mobile version</a> so that browsing
    on mobile phones feels comfortable, looks nice and retains most of the features of the original version.
  </li>
</ul>

<h1>How does <i>Albite Reader</i> compare to <i>FBReaderJ</i> or <i>Stanza</i>?</h1>
<p>
  The same way <i>Java Mobile</i> compares to <i>Android</i> and <i>iOS</i>: it's far more limited, quite a bit
  uglier, but still capable of doing nice stuff, if one makes it to.
</p>

<h1>Why are the books free?</h1>
<%= render :partial => 'free_books' %>

<h1>Who made Albite?</h1>
<p>
  My name is <a href="http://svetlin.posterous.com">Svetlin Ankov</a>, I am 23, and I am a student at the
  <a href="http://uni-sofia.bg">University of Sofia</a>. For most of my time I do programming stuff, but I like math,
  too, especially if it’s got a more applied nature.
</p>
<p>
  I am best at <i>Java</i>, but I also have experience with <i>C++</i>, <i>Python</i>, <i>Ruby</i>, <i>Visual Basic</i>,
  <i>Pascal</i>, <i>ActionScript</i> and <i>PHP</i>.
</p>
<p>
  I have some idea of functional programming, too, as I’ve done some good amount of projects in
  <a href="http://www.mathworks.com/products/matlab/">Matlab</a> and
  <a href="http://www.wolfram.com/mathematica/">Mathematica</a>. I prefer simpler code, but I am not too scared to
  go deep, if it’s the only option.
</p>
<p>
  As far as math is concerned, I don’t like it raw, but prefer it in connection with other sciences, e.g. numerical
  analysis, discreet math, statistics, biomathematics, etc. I’ve had the chance to
  <a href="http://debian.fmi.uni-sofia.bg/~boev/">teach biomath</a> as an assistant, i.e. I was responsible for the
  demonstrative part of the subject. In relation with that, I can say, I wrote some good quantity of <i>Mathematica</i>
  code and some lesser amount of mathematical stuff.
</p>