<h1>Contact <i>Albite BOOKS</i></h1>
<p>
  If you'd like to share your ideas about the <i>Albite</i> Project, hit the <i>feedback button</i> on the left side
  of the screen and <i>Submit your idea</i> on the <i>Feedback Forum</i>.
</p>
<p>
  If you need to contact <i>Albite</i>'s creator: <a href="http://svetlin.posterous.com">Svetlin Ankov</a>,
  don't hesitate to do so. Just hit the <i>feedback button</i> on the left side of the screen and click on
  <i>Contact AlbiteBOOKS</i>.
</p>