<h1>Oi, I spotted violated copyright!</h1>
<%= render :partial => 'free_books' %>
<p>
  If, however, you still think there is a copyright issue, don't hesitate to <%= link_to 'contact', contacts_url %>
  <i>Albite BOOKS</i>.
</p>