<h1>Frequently asked questions</h1>
<p>What are you looking for?</p>
<h4><p>Albite BOOKS</p></h4>
<ol>
  <li><a href="#">Why are the books free?</a></li>
  <li><a href="#">How are these books different from the ones offered at other sites?</a></li>
  <li><a href="#">Why are books provided only in the <i>EPUB</i> format?</a></li>
  <li><a href="#">Oi, I've spotted a book with violated copyright!</a></li>
  <li><a href="#">Some part of the site's looking wrong or is not functioning properly.</a></li>
</ol>
<h4><p>Albite READER</p></h4>
<li><a href="#">Why it shows empty chapters? (large files) optimized for epubs</a></li>
<li><a href="#"></a></li>
<h4><p>General questions</p></h4>
<ol>
  <li><a href="#">Who made Albite BOOKS & Albite READER?</a></li>
  <li><a href="#">How was it all made?</a></li>
  <li><a href="#">How can I help the author?</a></li>
</ol>