<h1>Frequently asked questions</h1>
<p>What are you looking for?</p>
<h4><p>Albite BOOKS</p></h4>
<ol>
  <li><a href="#">Why are the books free?</a></li>
  <li><a href="#">How are these books different from the ones offered at other sites?</a></li>
  <li><a href="#">Why are books provided only in the <i>EPUB</i> format?</a></li>
  <li><a href="#">Oi, I've spotted a book with violated copyright!</a></li>
  <li><a href="#">Some part of the site's looking wrong or is not functioning properly.</a></li>
</ol>
<h4><p>Albite READER</p></h4>
<li><a href="#">I am seeing placeholders instead of images.</a></li>
<li><a href="#">How do I install the app on my phone?</a></li>
<li><a href="#">How do I upgrade the app?</a></li>
<li><a href="#">What are these .alx files along with my books?</a></li>
<li><a href="#">How do I report a bug?</a></li>
<li><a href="#">Is my phone supported?</a></li>

<li><a href="#">How do I use dictionaries?</a></li>
<li><a href="#">How do I look up a word?</a></li>
<li><a href="#">How do I convert physical quantities?</a></li>
<li><a href="#">I can't see the book from within the app.</a></li>
<li><a href="#">How do I change the text size?</a></li>
<li><a href="#">How do I change the color profile?</a></li>
<li><a href="#">How do I change the colors of the profile?</a></li>
<li><a href="#">How do I open a book?</a></li>
<li><a href="#">How do I </a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<h4><p>General questions</p></h4>
<ol>
  <li><a href="#">Who made Albite BOOKS & Albite READER?</a></li>
  <li><a href="#">How was it all made?</a></li>
  <li><a href="#">How can I help the author?</a></li>
</ol>