<% genre_title = "Books in ‘#{@genre}’" %>
<% title(genre_title) %>

<h1>
  <%= genre_title %>
</h1>

<% if @books.empty? %>
  <p><i>No books in this genre, so far.</i></p>
<% else %>
  <% for book in @books %>
    <%= link_to book.title, book_url(book) %>
  <% end %>
<% end %>
 