<% genre_title = "Book in ‘#{@genre}’" %>
<% title(genre_title) %>

<h1><%= genre_title %></h1>
<% if @books.empty? %>
  <p><i>No books in this genre, so far.</i></p>
<% else %>
  <ul>
    <% for book in @books %>
      <li><%= link_to book.title, book_url(book) %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Back to genres', genres_url %> 