<% genre_title = "Books in ‘#{@genre}’" %>
<% title(genre_title) %>

<h1>
  <%= genre_title %>
</h1>
<div class="shadow_container"><div class="shadow"></div></div>

<%= render :partial => 'books/index' %>

<% content_for(:back) do %>
  <%= mobile_link_to(genres_url, 'Genres', 'Back to genres', true, 'tag') %>
<% end %>