<h1>Free e-books?</h1>
<p>
  Just type the name of the book or the author you're looking for and you're ready to go!
</p>

<h1>E-book Reader for Java Mobile?</h1>
<p>
  If you don't have an e-book reader on your <i>Java Mobile</i> phone, why don't you get one? Click on the button
  on top to see the download page.
</p>