<%= title 'Get the Reader' %>
<%= h1 'Albite READER' %>
<p>
  An ePub reader for <i>Windows Phone</i> developed by <i>Svetlin Ankov</i>. It's free for
  it's released under the <i>Apache 2.0 License</i>.
</p>

<%= h2 'Get it!' %>
<%= mobile_link_to("https://www.microsoft.com/en-us/store/p/albite-reader/9nblggh4xz08", 'Albite READER', 'Windows Phone', true, 'download', true) %>
