<%= title 'Get the Reader' %>
<h1>Albite Reader</h1>
<p>
  A feature-rich e-book reader for the <i>Java Mobile</i> platform developed by <i>Svetlin Ankov</i>. It's free, and
  it's released under the <i>Apache 2.0 License</i>.
</p>

<h1>Get it!</h1>
<%= link_to 'Install Albite READER 2.0.4', 'public/reader/AlbiteReader-2.0.4.jad', :class => 'menu' %>
<%= link_to 'Install Albite READER Light 2.0.4', 'public/reader/AlbiteReaderLight-2.0.4.jad', :class => 'menu' %>
