<%= title 'Get the Reader' %>

<h1 id="reader">Albite Reader</h1>
<table>
  <tr valign="top">
    <td>
      <p>
        An <i>ePub</i> reader for <i>Windows Phone</i> developed by
        <a href="http://ankov.blogspot.com" target="_blank">Svetlin Ankov</a>. It's free, and it's released under the
        <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache 2.0 License</a>. The source
        code is available at <a href="http://github.com/dumbledore/AlbiteREADER-WindowsPhone" target="_blank">GitHub</a>.
      </p>
      <p>
        <a href="https://www.microsoft.com/store/productid/9NBLGGH4XZ08" target="_blank">
          <img src="/images/content/wpstore.png" width="200" />
        </a>
      </p>
    </td>
    <td>
      <%= youtube 'http://www.youtube.com/v/tZoOaxL9MLo?fs=1&amp;hl=en_GB&amp;rel=0', 480, 270 %>
    </td>
  </tr>
</table>

<h2>Features</h2>
<ul>
  <li>high-quality layout using <i>HTML5</i> rendering</li>
  <li>narration in all installed languages</li>
  <li>color themes and font settings</li>
  <li>search with voice recognition</li>
  <li>internal and external links</li>
  <li>table of contents</li>
  <li>bookmarks</li>
  <li>various book sources: SD card, OneDrive, Project Gutenberg, etc.</li> 
</ul>

<p>
  For more detailed information, on using the app, check the <a href="https://www.youtube.com/playlist?list=PLHZHS_1xDlfBmQnry20BsYfqixvxmaZav" >tutorial</a>
  on the various features on youtube.
</p>

<h2 id="system_requirements">System requirements</h2>
<p>
  Windows Phone 8.0 or newer.
</p>

<h2>Download</h2>
<p>
  Download the app directly from the
  <a href="https://www.microsoft.com/store/productid/9NBLGGH4XZ08" target="_blank">Windows Phone Store</a>.
</p>