<%= title "Get the Reader!" %>
<h1>Get the Reader!</h1>
<p>
  <%= image_tag "reader.png", :style => "float: left; border: 1px solid #AAAAAA; margin: 0 15px 0 0;" %>
  You've come to the right place for obtaining <i>free</i> e-books for your <i>j2me</i>-enabled mobile. <i>Annotate</i> important text or check your <i>bookworm rating</i>.
</p>
<p>
  <%= link_to "Read more", :controller => :about %> about the Albite Project or <a href="#">watch</a> the demo on the right.
</p>