<% title "The subjects" %>
<h1>
  Subjects
</h1>

<% if @subjects.empty? %>
  <p><i>No subjects have been added, so far.</i></p>
<% else %>
  <ul>
    <% for subject in @subjects %>
      <li><%= link_to subject.name, subject_url(subject.name) %></li>
    <% end %>
  </ul>
<% end %>