<% subject_title = "Book in ‘#{@subject}’" %>
<% title(subject_title) %>

<h1><%= subject_title %></h1>
<% if @books.empty? %>
  <p><i>No books in this genre, so far.</i></p>
<% else %>
  <% unless @mobile %>
    <ul>
      <% for book in @books %>
        <li><%= link_to book.title, book_url(book) %></li>
      <% end %>
    </ul>
  <% else %>
    <% for book in @books %>
      <%= link_to book.title, book_url(book) %>
    <% end %>
  <% end %>
<% end %>
<% unless @mobile %>
  <%= link_to 'Back to subjects', subjects_url %>
<% end %>