<h1>Thanks for thanking!</h1>
<p>
  If you're not here by mistake, you must be here because you found something on this site that made you happy.
  Please, feel free to express your saying so that I'd learn from it.
</p>

<%= render :partial => 'misc/disqus_thread' %>
<% content_for(:tail) do %>
  <%= render :partial => 'misc/disqus_tail' %>
<% end %>