<% if @book_aliases and not @book_aliases.empty? %>
  <% for aliaz in @book_aliases %>
    <%= book_alias_in_list(aliaz, @book_alias_thumbnails) %>
  <% end %>
<% else %>
  <p>
    <i><%= @no_book_aliases_message %></i>
  </p>
<% end %>
