<% unless @books.empty? %>
  <% for book in @books %>
    <% if book.ready %>
      <%= mobile_link_to(book_url(book), book.title, nil, true, 'book') %>
    <% end %>
  <% end %>
<% else %>
  <p>
    <i><%= @no_books_message %></i>
  </p>
<% end %>