<% if @books and not @books.empty? %>
  <% for book in @books %>
    <%= book_in_list(book, @book_thumbnails, @book_authors) %>
  <% end %>
<% else %>
  <p>
    <i><%= @no_books_message %></i>
  </p>
<% end %>