<% title 'The subjects' %>
<%= h1 'Subjects' %>

<% if @subjects.empty? %>
  <p>
    <i>No subjects have been added, so far.</i>
  </p>
<% else %>
  <% for subject in @subjects %>
    <%= mobile_link_to(subject_url(h(subject.name)), h(subject.name), nil, true, 'tag', true, true) %>
  <% end %>
<% end %>

<%= will_paginate @subjects, :renderer => 'WillPaginate::MobileRenderer' %>