<% subject_title = "Books in ‘#{h(@subject)}’" %>
<% title(subject_title) %>

<h1>
  <%= h(subject_title) %>
</h1>
<%= render :partial => 'books/index' %>
<%= will_paginate @books %>

<%= link_to 'Back to subjects', subjects_url %>
