<% title @alias.name %>

<h1><%= h(@alias.name) %></h1>
<p>
  <strong>Alias:</strong> <%= h(@alias.title) %>
</p>

<p>
  <strong>Book:</strong> <%= link_to h(@alias.book.title), @alias.book %>
</p>

<p>
  <%= link_to "Back to aliases for #{h(@alias.book.title)}", aliases_url("?book=#{@alias.book.id}") %>
</p>