<img src="/images/_/logo-large-2.png" alt="Albite BOOKS"/><br />
Read free e-books on your <span class="italic">Java-Mobile</span> powered phone!<br />
<small>Your complete reading experience is coming very, <span class="italic">very</span> soon.</small><br /><br />
<small>Come back after <span class="italic">Nov 30</span> to see for yourself.</small>
